<div class="flex items-center justify-center h-screen">
  <div class="m-auto">
    <div class="hero">
      <div
        class="
          hero-content flex flex-col items-center justify-center lg:flex-row-reverse
        "
      >
        <div class="text-center lg:text-left">
          <h1 class="text-4xl md:text-5xl font-bold">Fileshare Website</h1>
          <p class="py-6 max-w-xs md:max-w-md">
            A self hostable website for syncing files across devices. Notes and
            other files can be synced between devices at the click of a
            button.
          </p>
        </div>
        <div class="card shrink-0 shadow-2xl mt-6 lg:mt-0">
          <ul class="menu rounded-box w-48 md:w-56">
            <li>
              <details open>
                <summary>Auth</summary>
                <ul>
                  <li><a href="/auth/create">Create Account</a></li>
                  <li><a href="/auth/login">Login</a></li>
                </ul>
              </details>
            </li>
            <li>
              <details open>
                <summary>Files</summary>
                <ul>
                  <li><a href="/files/sync">Sync Files</a></li>
                  <li><a href="/auth/me">My Files</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
